.snoopy_gif{
	width: 120px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.text_af_gif{
	text-align: center;
	font-family: sans-serif;
	font-size: 25px;
	color: rgb(47,85,151);
}

.typography{
	font-weight: bold;
	font-family: sans-serif;
	font-size: 25px;
}

.head_text{
	font-weight: bold;
	font-family: sans-serif;
	font-size: 20px;
}

.heading { font-size: 1.2em; }

.h_type{
	font-family: Garamond;
}

.header{color: v;}

.principal_body{
	margin: 0px 230px 0px 230px;
}

.colorful_text{
	background-color: rgb(245, 245, 245);
}

.blue_text{
	font-family: sans-serif;
	color: rgb(67, 117, 215);
	margin-left: 30px;
}

.red_text{
	font-family: sans-serif;
	color: rgb(177, 14, 29);
}

.orange_text{
	font-family: sans-serif;
	color: rgb(187, 98, 9);
}

.black_text{
	font-family: sans-serif;
	color: rgb(86, 86, 86);
}

.paragraph{
	font-family: sans-serif;
	font-size: 16px;
}

.bold_text{
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;

}

.quote{
	border: solid;
	width: 600px;
	border-color: rgb(192, 192, 192);
}

.quote_text{
	font-family: sans-serif;
	font-size: 16px;
	margin-left: 20px;
}

.author{font-family: sans-serif;
	font-size: 10px;}

.dot{
	width: 180px;
	height: 30px;
	float: left;
}

.dot_new_line{
	width: 180px;
	height: 30px;
	clear: both;
	float: left;
	display: block;
	position: relative;
} 


.blue_dot {
  height: 25px;
  width: 25px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
  border="1px";
  float: left;
}

.green_dot {
  height: 25px;
  width: 25px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  border="1px";
  float: left;
}

.yellow_dot {
  height: 25px;
  width: 25px;
  background-color: yellow;
  border-radius: 50%;
  display: inline-block;
  border="1px";
  float: left;
}

.red_dot {
  height: 25px;
  width: 25px;
  background-color: darkred;
  border-radius: 50%;
  display: inline-block;
  border="1px";
  float: left;
}

.gray_dot {
  height: 25px;
  width: 25px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  border="1px";
  float: left;
}

.text_circle{
	margin-left: 10px;
}


.new_line{
	clear: both;
	display: block;
}


.elements{
	font-weight: bold;
	font-family: sans-serif;
	font-size: 24px;
}

.base_button{
	width: 160px;
	height: 25px;
	background-color: rgb(245, 245, 245)
}

.play_img{
	height: 20px;
	width: 20px;
	float: left;
	margin-left: 10px;
}


.primary{
	height: 55px;
	width: 120px;
	float: left;
	margin-left: 10px;
	background-color: rgb(78, 138, 177);
	border-radius: 10px;
}

.block_text{
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	color: white;

}

.secundary{
	height: 55px;
	width: 130px;
	float: left;
	margin-left: 10px;
	background-color: gray;
	border-radius: 10px;
}

.success{
	height: 55px;
	width: 130px;
	float: left;
	margin-left: 10px;
	background-color: greenyellow;
	border-radius: 10px;
}

.warning{
	height: 55px;
	width: 130px;
	float: left;
	margin-left: 10px;
	background-color: rgb(243, 209, 109);
	border-radius: 10px;
}

.danger{
	height: 55px;
	width: 130px;
	float: left;
	margin-left: 10px;
	background-color: rgb(209, 71, 110);
	border-radius: 10px;
}


.transparent{
	height: 55px;
	width: 130px;
	float: left;
	margin-left: 10px;
}


.block_text_transparent{
	text-align: center;
	font-family: sans-serif;
	font-size: 20px;
	color: black;

}

.containerdivNewLine {
		clear: both;
		 display: block;
		 position: relative;
} 

.with_icon{
	height: 55px;
	width: 150px;
	float: left;
	margin-left: 10px;
	background-color: rgb(78, 138, 177);
	border-radius: 10px;
}

.play_img_icon{
	height: 20px;
	width: 30px;
	float: left;
	margin-left: 5px;
	margin-top: 21px;
}

.block_text_icon{
	margin-left: 13px;
	float: left;
	font-family: sans-serif;
	font-size: 20px;
	color: white;
}


.only_icon{
	height: 55px;
	width: 55px;
	float: left;
	margin-left: 10px;
	background-color: rgb(78, 138, 177);
	border-radius: 10px;
}

.play_img_ony_icon{
	height: 30px;
	width: 30px;
	float: left;
	margin-left: 13px;
	margin-top: 13px;	
}

.blue_text_dot{
	font-family: sans-serif;
	color: rgb(67, 117, 215);
	margin-left: 30px;
	font-size: 25px;
}

.blue_text_dot_style{
	font-family: sans-serif;
	color: rgb(67, 117, 215);
	margin-left: 30px;
	font-size: 30px;
	margin-top: 13px;
	float: left;	
}


.colorful_text_button_style{
	background-color: rgb(245, 245, 245);
	height: 70px;

}

.primary_style{
	height: 55px;
	width: 120px;
	float: left;
	margin-left: 10px;
	margin-top: 30px;
	background-color: rgb(78, 138, 177);
	border-radius: 10px;
}

.small{
	height: 35px;
	width: 80px;
	float: left;
	margin-left: 10px;
	margin-top: 50px;
	background-color: rgb(78, 138, 177);
	border-radius: 10px;
}

.block_text_small{
	margin-top: 10px;
	margin-left: 20px;
	float: left;
	font-family: sans-serif;
	font-size: 15px;
	color: white;
}


.large{
	height: 70px;
	width: 120px;
	float: left;
	margin-top: 15px;
	margin-left: 10px;
	background-color: rgb(78, 138, 177);
	border-radius: 10px;
}

.block_text_large{
	margin-top: 30px;
	margin-left: 35px;
	float: left;
	font-family: sans-serif;
	font-size: 15px;
	color: white;
}


.square{
	height:110px;
	width: 110px;
	float: left;
	margin-top: 15px;
	margin-left: 10px;
	background-color: rgb(204,204,204);
	border-radius: 10px;
}

.text_images{
	float: left;
	font-family: serif;
	font-size: 15px;
	margin-left: 30px;
	margin-top: 50px;

}

.circle {
  height: 110px;
  width: 110px;
  background-color: rgb(204,204,204);
  border-radius: 50%;
  display: inline-block;
  border="1px";
  margin-left: 20px;
  margin-top: 15px;
  float: left;
}

.square_shadow{
	height:110px;
	width: 110px;
	float: left;
  margin-left: 20px;
  margin-top: 15px;
	background-color: rgb(204,204,204);
	border-radius: 10px;
	box-shadow: 0 5px 10px rgb(0 0 0 / 0.2)
}


.circle_shadow {
  height: 110px;
  width: 110px;
  background-color: rgb(204,204,204);
  border-radius: 50%;
  display: inline-block;
  border="1px";
  margin-left: 20px;
  margin-top: 15px;
  float: left;
  box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
}

.banner{
	width: 100%
}